__pycache__
*.swp
**/.DS_Store
/.vscode
*.quasimodo*
test.qasm
test.qasm.cnf
test.qasm.cnf
dist
quokka_sharp.egg-info
wmc_benchmarks/WMCBench.zip
wmc_benchmarks/WMCBench.zip
wmc_benchmarks/bzip.sh
wmc_benchmarks/abstract.pdf
quokka_sharp/quokka_sharp/docker.sh
env/
.venv/
build/
experiment/shortened_files/algorithm/
experiment/shortened_files/
experiment/temp_for_sim.cnf
